@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #222; /* Fondo oscuro detrás de la pokedex */
  color: #333;
  font-family: 'VT323', monospace; /* Fuente retro principal */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-x: hidden;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}